{% extends 'base.html' %}

{% block title %}
  Hello
{% endblock %}

{% block body %}

<form action="/" method="POST">
    <p class="error">{{ error }}</p>
    <p>Fill in the form and our {{ team }} team will contact you soon:</p>
    <p><input type="hidden" name="time" value="{{ time }}"></p>
    <p><input type="text" name="name" value="{{name}}"></p>
    <p><input type="text" name="phone" value="{{ '+7' if not phone else phone }}"></p>
    <p><input type="submit" value="Submit"></p>
  </form>


{% endblock %}